Source: ewl
Section: gui
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 6), cdbs, automake, libtool, pkg-config, cvs, libevas-dev, libecore-dev, libedje-bin, libembryo-bin, libefreet-dev, libxcb1-dev, libedje-dev
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org
XCS-Cross-Host-Build-Depends: debhelper (>= 6), cdbs, cdbs-embedded, automake, libtool, pkg-config, cvs
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libefreet-dev, libxcb1-dev, libedje-dev
XS-Vcs-Git: http://git.openinkpot.org/ewl.git
XS-Vcs-Browser: http://git.openinkpot.org/ewl.git

Package: libewl1
Architecture: any
Depends: ${shlibs:Depends}
Provides: libewl1-engine-evas-buffer, libewl1-engine-evas-software-xcb, libewl1-engine-evas, libewl1-engine-xcb, libewl1-engines-all, libewl1-plugins
Conflicts: libewl1-engine-evas-buffer, libewl1-engine-evas-software-xcb, libewl1-engine-evas, libewl1-engine-xcb, libewl1-engines-all, libewl1-plugins
Suggests: libewl1-engines-all
Description: The Enlightened Widget Library (EWL)
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the EWL runtime library including a basic software
 X11 render engine.

Package: libewl1-dev
Architecture: any
Section: libdevel
Depends: libewl1 (= ${binary:Version}), libevas-dev, libecore-dev, libedje-dev, libefreet-dev, libembryo-dev, libxcb1-dev
Description: Development files for EWL
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package contains headers, static libraries and examples for
 development with EWL.
